@charset "UFT-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #E79160, #FFC991);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #9c624071;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #C4D1CA;
    text-align: center;
    text-shadow: 2px 2px 2px #909e97a1 ;
}
h2{
    color: #D9A443;
}
p {
    text-align: justify;
}

